<div class="container-fluid">
<div class="col-md-offset-1">
  <h1 align="center">
    {{title}}!
  </h1>
</div>

<ul>
  <li>
    <a routerLink="/users">List Users</a>
  </li>
  <li>
    <a routerLink="/addUser">Add User</a>
  </li>
  <li>
    <a routerLink="/ingredients">List Ingredients</a>
  </li>
  <li>
    <a routerLink="/ingredients/addIngredient">Add Ingredient</a>
  </li>
  <li>
    <a routerLink="/dishes">List Dishes</a>
  </li>
  <li>
    <a routerLink="/dishes/addDish">Add Dish</a>
  </li>
  <li>
    <a routerLink="/menu">Menu Calendar</a>
  </li>
</ul>

<br/>
<app-calendar-week-view
[viewDate]="viewDate"
[weekStartsOn]=[1]
[events]="events"></app-calendar-week-view>
<router-outlet></router-outlet>
</div>

