ul li:hover {
  background-color: #111111;
}

ul li:hover ul.list-categories {
  max-height: inherit;
  opacity: 1;
}

.list-categories {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li.horizontal-menu {
  float: left;
}

ul li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul li ul {
  width: 100%;
}

ul li ul li {
  display: block;
}

ul li ul li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
