<div class="container-fluid">
<div class="col-md-offset-1">
  <h1 align="center">
    {{title}}!
  </h1>
</div>

<ul class="horizontal-menu">
  <li class="horizontal-menu" *ngIf="!currentUser">
      Sign up / Login
      <ul class="list-categories">
        <li>
          <a routerLink="/users/login">Login</a>
        </li>
      </ul>
  </li>
  <li class="horizontal-menu" *ngIf="currentUser">
    Logout
    <ul class="list-categories">
      <li>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
</li>
  <li class="horizontal-menu">
    Users
    <ul class="list-categories">
      <li>
        <a routerLink="/users">List Users</a>
      </li>
      <li>
        <a routerLink="/users/addUser">Add User</a>
      </li>
      <li>
          <a routerLink="/users/userConfs">User Configurations</a>
        </li>
    </ul>
  </li>
  <li class="horizontal-menu" *ngIf="currentUser">
    Ingredients
    <ul class="list-categories">
      <li>
        <a routerLink="/ingredients">List Ingredients</a>
      </li>
      <li>
        <a routerLink="/ingredients/addIngredient">Add Ingredient</a>
      </li>
    </ul>
  </li>
  <li class="horizontal-menu" *ngIf="currentUser">
    Dishes
    <ul class="list-categories">
      <li>
        <a routerLink="/dishes">List Dishes</a>
      </li>
      <li>
        <a routerLink="/dishes/addDish">Add Dish</a>
      </li>
    </ul>
  </li>
  <li class="horizontal-menu" *ngIf="currentUser">
    Menu
    <ul class="list-categories">
      <li>
        <a routerLink="/menu">Menu Calendar</a>
      </li>
    </ul>
  </li>
</ul>

<h3 *ngIf="currentUser">Logged in User : <b>{{currentUser.firstName}}</b></h3>

<br/>
<router-outlet></router-outlet>
</div>

