<div class="col-md-6">
  <h2> Ingredient Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Calories</th>
      <th>Fats</th>
      <th>Proteins</th>
      <th>Carbohydrates</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ingredient of ingredients">
      <td class="hidden">{{ingredient.id}}</td>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.category.name}}</td>
      <td *ngFor="let stat of ingredient.stats">{{stat.value}}</td>
      <td><button class="btn btn-success" (click)="updateIngredient(ingredient)">Update</button></td>
      <td><button class="btn btn-danger" (click)="deleteIngredient(ingredient)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  </div>
