.dashboard-header {
  display: inline-block;
}
.dashboard-title {
  display: inline;
}
.dashboard-daily {
  display: inline-flex;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
}
