<div class="col-md-6">
    <h2 class="text-center">Login</h2>
  <form>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="login.email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="login.password" placeholder="Password" name="password" class="form-control" id="password">
    </div>

    <button class="btn btn-success" (click)="loginAttempt()">Login</button>
    <button style="margin-left:10px;" class="btn btn-primary" (click)="onLoginClick()">
      Login with Facebook
    </button>
  </form>
  </div>
