<div class="col-md-6">
  <h2 class="text-center">Add Ingredient</h2>
<form>

  <div class="form-group">
    <label for="name">Name:</label>
    <div style="display:flex;">
      <input [(ngModel)]="ingredient.name" placeholder="Name" name="Name" class="form-control" id="Name">
      <button style="margin-left: 10px;" class="btn btn-success" (click)="estimateNutrition()">Estimate Stats</button>
    </div>
  </div>

  <div class="form-group" *ngIf="categories">
    <label for="categorySelect">Categories:</label>
    <select [(ngModel)]="ingredient.categoryId" #CategoriesSelect="ngModel" name="CategoriesSelect" class="form-control" id="Categories" (ngModelChange)="checkBannedCategory()" >
      <option></option>
      <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="proteins">Proteins:</label>
    <div class="horizontal-div">
      <input type="proteins" [(ngModel)]="ingredient.proteins" type="number" placeholder="Proteins" name="proteins" class="form-control" id="proteins">
      <label class="margin-left-label"> / 100 grams</label>
    </div>
  </div>

  <div class="form-group">
    <label for="calories">Calories:</label>
    <div class="horizontal-div">
      <input [(ngModel)]="ingredient.calories" type="number" placeholder="Calories" name="calories" class="form-control" id="calories">
      <label class="margin-left-label"> / 100 grams</label>
    </div>
  </div>

  <div class="form-group">
      <label for="fats">Fats:</label>
      <div class="horizontal-div">
        <input [(ngModel)]="ingredient.fats" type="number" placeholder="Fats" name="fats" class="form-control" id="fats">
        <label class="margin-left-label"> / 100 grams</label>
      </div>
  </div>

  <div class="form-group">
    <label for="fats">Carbohydrates:</label>
    <div class="horizontal-div">
      <input [(ngModel)]="ingredient.carbohydrates" type="number" placeholder="Carbohydrates" name="carbohydrates" class="form-control" id="carbohydrates">
      <label class="margin-left-label"> / 100 grams</label>
    </div>
  </div>
  <div *ngIf="categorySelectedBanned">
      <label><font color="red">The Food Category you have selected is currently banned by you!!!</font></label>
  </div>
  <button class="btn btn-success" (click)="createIngredient()">Create</button>
</form>
</div>
