<div class="col-md-6">
    <h2> Dishes Details</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Calories</th>
        <th *ngIf="isTablet || !isMobile">Fats</th>
        <th *ngIf="isTablet || !isMobile">Proteins</th>
        <th *ngIf="isTablet || !isMobile">Carbohydrates</th>
        <th>Update</th>
        <th>Delete</th>
        <th *ngIf="!isTablet && !isMobile">Add To Menu</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dish of dishes">
        <td class="hidden">{{dish.id}}</td>
        <td>{{dish.name}}</td>
        <td *ngIf="isMobile">{{dishCalories(dish)}}</td>
        <ng-container *ngFor="let stat of dish.stats">
          <td *ngIf="isTablet || !isMobile">{{stat.value}}</td>
        </ng-container>
        <td><button class="btn btn-info" (click)="updateDish(dish)">Update</button></td>
        <td><button class="btn btn-danger" (click)="deleteDish(dish)">Delete</button></td>
        <td *ngIf="!isTablet && !isMobile"><button class="btn btn-success" (click)="addToMenu(dish)">Add To Menu</button></td>
      </tr>
      </tbody>
    </table>
</div>
