<div align="center" *ngIf="!menu">
  <button (click)="createMenu()"><b>Create Menu</b></button>
</div>
<div *ngIf="menu">
  <app-calendar-week-view
  [viewDate]="viewDate"
  [weekStartsOn]=[1]
  [events]="events"
  [menuId]="menu.id"
  (dishAdded)="updateMenuStatsWithDishStats($event)">
  </app-calendar-week-view>
  <br/>
  <div align="center">
    <button mat-raised-button (click)="generateShoppingList()"><b>Shopping List</b></button>
    <button (click)="clearMenu()"><b>Clear menu</b></button>
    <button (click)="printMenu()"><b>Print menu</b></button>
  </div>
  <br/>
  <app-view-stats-dashboard *ngIf="menu"
  [menu]="menu"
  [userConfs]="userConfs"
  [events]="updateStatsSubject"
  >
  </app-view-stats-dashboard>
</div>
