<div class="col-md-6">
    <h2 class="text-center">User Confs</h2>
  <form>
    <div *ngIf="userConf">
      <div class="form-group">
        <label for="maxCalories">Max Calories per Week:</label>
        <input type="number" [(ngModel)]="userConf.maxCaloriesPerWeek" placeholder="Max Calories Per Week" name="maxCalories" class="form-control" id="maxCalories">
      </div>
      <div class="form-group">
          <label for="maxProteins">Max Proteins per Week:</label>
          <input type="number" [(ngModel)]="userConf.maxProteinsPerWeek" placeholder="Max Proteins Per Week" name="maxProteins" class="form-control" id="maxProteins">
      </div>
      <div class="form-group">
          <label for="maxFats">Max Fats per Week:</label>
          <input type="number" [(ngModel)]="userConf.maxFatsPerWeek" placeholder="Max Fats Per Week" name="maxFats" class="form-control" id="maxFats">
      </div>
      <div class="form-group">
          <label for="maxCarbohydrates">Max Carbohydrates per Week:</label>
          <input type="number" [(ngModel)]="userConf.maxCarbohydratesPerWeek" placeholder="Max Carbohydrates Per Week" name="maxCarbohydrates" class="form-control" id="maxCarbohydrates">
      </div>
      <div class="form-group" *ngIf="categories">
        <label for="categorySelect">Ban a category:</label>
        <div style="display:flex;">
          <select [(ngModel)]="selectedCategory" #CategoriesSelect="ngModel" name="CategoriesSelect" class="form-control" id="Categories" >
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
          </select>
          <button class="btn btn-danger" style="margin-left: 10px;" (click)="banCategory()">Ban Category</button>
        </div>
      </div>
      <div class="form-group" *ngIf="bannedCategories">
        <label for="categorySelect">Banned Categories:</label>
        <table class="table table-striped">
            <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>Name</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of bannedCategories">
              <td>{{category.name}}</td>
              <td><button class="btn btn-danger" (click)="unBanCategory(category)">Unban</button></td>
            </tr>
            </tbody>
          </table>
      </div>
      <div class="form-group">
          <label for="meals">Meals Per Week:</label>
          <input type="string" [(ngModel)]="mealsAsString" placeholder="Meals" name="meals" class="form-control" id="meals">
        </div>
    </div>
    <button class="btn btn-success" (click)="updateConfs()">Update Confs</button>
  </form>
  </div>
